{{#each comments as |comment|}}
<div class="card px-5 py-4 my-2">
    <header class="card-title m-2">
        <h4>
            {{user.name}} on {{format_date date_created}}
        </h4>
    </header>
    <div class="card-text m-2">
        <p>
            {{content}}
        </p>
    </div>
</div>
{{/each}}